# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Languages for Data Analysis:

Python R, SQL, Julia, and Scala

Libraries: 
NumPy, Pandas, Matplotlib, Seaborn, Scikit-learn, TensorFlow, Keras, and PyTorch

Data Science Tools:

| Tool            | Description                                         |
|-----------------|-----------------------------------------------------|
| Jupyter Notebook| Interactive computing and data analysis environment|
| RStudio         | Integrated development environment for R           |
| Apache Hadoop   | Distributed data storage and processing framework  |
| Apache Spark    | Fast and distributed data processing engine        |
| Excel           | Spreadsheet software with data analysis features   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

**Objectives:** 

 * Create a markdown cell with the title of the notebook.
 * Create a markdown cell for an introduction. 
 * Create a markdown cell to list data science languages. 
 * Create a markdown cell to list data science libraries. 
 * Create a markdown cell with a table of Data Science tools.

## Author: 
Brendan Sirls